<div>
    <div ng-show="IsAdmin">
        <hr>
        <button class="btn btn-default" ng-click="createNewPost()"> New Post </button>
    </div>

    <div>
        <hr>
        <ui-select allow-clear="true" ng-model="themes.selected" theme="bootstrap">
            <ui-select-match>
                {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="t in themes| filter: $select.search">
                {{t}}
            </ui-select-choices>
        </ui-select>
        <hr>
        <p>Search text: <input type="text" ng-model="member"></p>
        <hr>
        <button class="btn btn-default" ng-click="clearFilter()"> Clear Filter </button>
    </div>

    <div>        
        <ul>
            <li ng-repeat="post in Posts | filter: {Text:member, Topic:themes.selected}" name="Post{{post.Id}}" id="Post{{post.Id}}" >
                <div ng-bind="post.Topic"></div>
                <div ng-bind="post.Author"></div>
                <div ng-bind="getTextPreview(post.Text)"></div>
                <div ng-bind="post.Time"></div>
                <button class="btn btn-default" ng-click="postDetails(post.Id)">Details</button> <button ng-show="IsAdmin" class="btn btn-default" ng-click="btnDeletePost(post.Id)">Delete</button>
            </li>
        </ul>
        <button class="btn btn-default" ng-click="btnShowMore()">Show More</button>
    </div>
</div>